{% extends "boot.html" %}

{%block content%}
    <div class='row overflow-auto float-left' style='padding: 1em;'>
       {%for row in rows%}
       <div class="card text-center text-white bg-danger border-warning" style='margin: 5px;width: 20em;'>
        <div class= 'card-header bg-dark'><h3>{{row["Name"]}}</h3></div>
        <img  src="/images/cam2.jpg" >
        <div class ='card-body'>
            <div class='card-text bg-dark overflow-auto'><br>Description: <br>{{row["Description"]}}</div> 
            
            
            <div class='card-footer bg-dark'>Price: ${{row["Price"]}} <br>Quantity:{{row["Qty"]}}</div>
        </div>
    </div>
        {%endfor%}
</div>

{%endblock%}